<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xf.registration.dao.DoctorMapper">

    <select id="selectAllDoctor" resultMap="doctorResult">
        select * from doc_doctor d join doc_part p on d.PART_CODE = p.PART_CODE
        <where>
            <if test="name != null">
                d.NAME like "%"#{name}"%"
            </if>
        </where>
    </select>

    <select id="selectDoctorByPrimaryKey" resultMap="doctorResult">
        select * from doc_doctor d join doc_part p on d.PART_CODE = p.PART_CODE where d.ID = #{id};
    </select>

    <resultMap id="doctorResult" type="com.xf.registration.pojo.Doctor">
        <id property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="info" column="info"/>
        <result property="price" column="price"/>
        <result property="image" column="image"/>
        <result property="sex" column="SEX"/>
        <result property="email" column="EMAIL"/>
        <result property="phone" column="PHONE"/>
        <result property="address" column="ADDRESS"/>
        <result property="dept" column="dept"/>
        <association property="part" javaType="com.xf.registration.pojo.Part">
            <result property="remark" column="REMARK"/>
        </association>
    </resultMap>

</mapper>