<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xf.registration.dao.PatientMapper">

<!--    <select id="selectAllPatient" resultType="com.xf.registration.pojo.Patient">-->
<!--        select * from doc_patient-->
<!--        <where>-->
<!--            <if test="name != null">-->
<!--                NAME like "%"#{name}"%"-->
<!--            </if>-->
<!--        </where>-->
<!--        limit #{start},#{len};-->
<!--    </select>-->

<!--    <select id="getPassword" resultType="string">-->
<!--        select password from doc_patient-->
<!--            <where>-->
<!--                <choose>-->
<!--                    <when test="phone != null">-->
<!--                        phone = #{phone}-->
<!--                    </when>-->
<!--                    <when test="id != null">-->
<!--                        ID = #{id}-->
<!--                    </when>-->
<!--                </choose>-->
<!--            </where>-->

<!--    </select>-->

</mapper>