<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xf.registration.dao.RegisterMapper">

    <select id="queryDoctorByPatient" parameterType="int" resultMap="patientRecord">
        select prr.ID id,d.NAME doctor_name,prr.DATE date,dp.REMARK part_name
        from doc_doctor d
                 join
             (select r.ID, r.DATE,r.doctor_Id
              from doc_register r
              where user_ID = #{patientId}) prr
             on d.ID = prr.doctor_Id
                 join doc_part dp on dp.PART_CODE = d.PART_CODE
        order by prr.DATE desc ;
    </select>

    <resultMap id="patientRecord" type="com.xf.registration.pojo.Register">
        <id property="id" column="id"/>
        <result property="date" column="date"/>
        <result property="work_time" column="workTime"/>
        <association property="doctor" javaType="com.xf.registration.pojo.Doctor">
            <result property="name" column="doctor_name"/>
            <association property="part" javaType="com.xf.registration.pojo.Part">
                <result property="remark" column="part_name"/>
            </association>
        </association>
    </resultMap>

    <select id="countRegister" parameterType="com.xf.registration.pojo.Register" resultType="int">
        select count(*) from doc_register
        <where>
            <if test="patient != null">
                user_ID = #{patient.id}
            </if>
            <if test="doctor != null">
                and doctor_Id = #{doctor.id}
            </if>
            <if test="date != null">
                and DATE = #{date,jdbcType=DATE}
            </if>
            <if test="workTime != -1">
                and work_time = #{workTime}
            </if>
        </where>
    </select>




</mapper>